<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CoffeePot BE API</title>
    <link rel="stylesheet" href="style.css">
</head>

<body style="font-family: Arial, Helvetica, sans-serif">
    <div style="display: flex; flex-direction: column;justify-content: center; align-items: center">
        <div style="border:solid 2px black; padding: 2rem; margin: 2rem;">
            <div style="">
                <h1>
                    Welcome to CoffeePot BE.
                </h1>
            </div>

            <div style="">
                <p>This project serves the API routes for the CoffeePot Project.
                </p>
                The project is available <a href="https://github.com/makander/u11-fullstack-js-makander-be"> here</a> on
                github:

                </br>
                </br>
                The Front End is available here:
                </br>
                <a href=" https://github.com/makander/u11-fullstack-js-makander-fe">Github</a> </br> <a
                    href="https://coffeepot-fe.herokuapp.com" />Live version</a>
            </div>
        </div>
    </div>
</body>

</html>